<!DOCTYPE html>
<html ng-app="resumeApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="./assets/style/main.css">
    <script src="./assets/scripts/lib/angular/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="./assets/scripts/app/appController.js"></script>
</head>
<body ng-controller="resumeController as resumeController">
<!-- Ediit/ Save Buttons -->
<md-button ng-hide="resumeController.isEditing" aria-label="Enable Editing" ng-click="resumeController.toggleEditing()"
           aria class="float-left md-raised md-warn">
    Edit
</md-button>
<md-button ng-show="resumeController.isEditing" aria-label="Save Editing" ng-click="resumeController.toggleEditing()"
           class="float-left md-raised md-primary">
    Save
</md-button>
<!-- Ediit/ Save Buttons END -->
<div>
    <div md-whiteframe="5" flex-gt-sm="75" flex-offset-gt-sm="5" flex-offset-gt-md="10" flex-gt-md="60" flex-gt-lg="40"
         flex-offset-gt-lg="25" ng-class="{editing :  resumeController.isEditing}" class="resume-container">
        <h1 ng-hide="resumeController.isEditing" aria-label="Resume Applicat Name">Abraham Anderson</h1>
        <!-- Name Editing Start -->
        <md-input-container ng-show="resumeController.isEditing" class="md-input-container">
            <label>Name</label>
            <input type="text" ng-model="resumeController.user.name">
        </md-input-container>
        <!-- Name Editing End -->
        <!-- Work Exp Start -->
        <h2>Work Experience</h2>
        <md-item-list ng-repeat="job in resumeController.jobCollection" layout="column">
            <div class="job-container" ng-hide="resumeController.isEditing">
                <div class="job-title-block">
                    <div class="job-name"> {{job.name}}</div>
                    <span class="job-title">{{job.title}} </span>
                </div>
                <a href="{{job.website}}" target="_blank">
                    <img alt="company Logo" src="{{job.logo}}" height="35px" class="md-avatar">
                </a>
                <span class="job-date float-right"> {{job.startDate}} - {{job.endDate}}</span>
                <span class="clearfix job-description">  {{job.description}}</span>
                <ul class="margin-top-5"> <!-- job points -->
                    <li ng-repeat="point in job.points">{{point}}</li>
                </ul>
            </div>
            <!-- Employment Back Editable Side -->
            <div class="job-container-edit flex flex-col" ng-show="resumeController.isEditing" layout="column">
                <div class="job-title-block" flex="100" layout="row">
                    <md-input-container class="md-input-container" flex="50">
                        <label>Employer</label>
                        <input type="text" ng-model="job.name">
                    </md-input-container>
                    <md-input-container class="md-input-container" flex="50">
                        <label>Title</label>
                        <input type="text" ng-model="job.title">
                    </md-input-container>
                </div>
                <md-input-container class="md-input-container">
                    <label>Logo</label>
                    <input type="text" ng-model="job.logo">
                </md-input-container>
                <md-input-container class="md-input-container">
                    <label>Website</label>
                    <input type="text" ng-model="job.website">
                </md-input-container>
                <div layout="row">
                    <md-input-container class="md-input-container">
                        <label>Start Date</label>
                        <input type="date" ng-model="job.startDate">
                    </md-input-container>
                    <md-input-container class="md-input-container">
                        <label>End Date</label>
                        <input type="date" ng-model="job.endDate">
                    </md-input-container>
                </div>
                <md-input-container class="md-input-container">
                    <textarea md-resize-textarea type="textarea" ng-model="job.description">
                    </textarea>
                </md-input-container>
                <ul class="margin-top-5"> <!-- job points -->
                    <md-input-container class="md-input-container" style="float: none" ng-repeat="point in job.points"
                                        layout="column">
                        <label>Point</label>
                        <input type="text" ng-model="point">
                    </md-input-container>
                </ul>
            </div>
        </md-item-list>
        <!-- Employment Back Editable Side END -->
        <!-- Education -->
        <h2 style="">Education</h2>
        <md-item-list layout="column">
            <div class="job-container" ng-repeat="school in resumeController.educationCollection">

                <div ng-hide="resumeController.isEditing" class="education-title-block">
                    <div class="education-name "> {{school.name}}</div>
                    <div class="education-title">{{school.degree}}</div>
                </div>
                <img ng-hide="resumeController.isEditing" ng-show="school.logo != '' " height="35px"
                     src="{{school.logo}}">
                <span ng-hide="resumeController.isEditing"
                      class="jeducation-date float-right"> {{school.graduation}}</span>

                <div ng-show="school.details != '' && resumeController.isEditing == false  " class=" education-details">
                    {{school.details}}
                </div>
                <div>
                    <!-- Education Editing Start -->
                    <div ng-show="resumeController.isEditing" class="education-block-editing">
                        <md-input-container class="md-input-container">
                            <label>School</label>
                            <input type="text" ng-model="school.name">
                        </md-input-container>
                        <md-input-container class="md-input-container">
                            <label>Degree</label>
                            <input type="text" ng-model="school.degree">
                        </md-input-container>
                        <md-input-container class="md-input-container">
                            <label>optional Logo</label>
                            <input type="text" ng-model="school.logo">
                        </md-input-container>
                        <md-input-container class="md-input-container">
                            <label>Graduation Date</label>
                            <input type="date" ng-model="school.graduation">
                        </md-input-container>
                        <md-input-container style="display: block" class="md-input-container">
                            <label>details</label>
                            <input type="text" ng-model="school.details">
                        </md-input-container>
                        <!-- Education Editing End -->
                    </div>
                </div>
            </div>
        </md-item-list>
        <!-- Education End -->
    </div>
    <div ng-hide="resumeController.isEditing" md-whiteframe="5" flex
         class="contact-container">
        <h3>Contact:</h3>
        <!-- contact Info -->
        <div>
            {{resumeController.user.address1}} </br>
            <span ng-show="resumeController.user.address2 != ''">{{resumeController.user.address2}} </br></span>
            {{resumeController.user.city}}, {{resumeController.user.state}} {{resumeController.user.zip}}</br>
            {{resumeController.user.phone}} </br>
            {{resumeController.user.email}}}
        </div>
        <!-- contact Info End -->
    </div>
    <div ng-show="resumeController.isEditing" md-whiteframe="5" flex
         class="contact-container-editing">
        <h3>Contact:</h3>
        <!-- contact Info -->
        <div>
            <!-- Contact Editing Start -->
            <md-input-container class="md-input-container">
                <label>Address1</label>
                <input type="text" ng-model="resumeController.user.address1">
            </md-input-container>
            <md-input-container class="md-input-container">
                <label>Address2</label>
                <input type="text" ng-model="resumeController.user.address2">
            </md-input-container>
            <md-input-container class="md-input-container">
                <label>City</label>
                <input type="text" ng-model="resumeController.user.city">
            </md-input-container>
            <md-input-container class="md-input-container">
                <label>State</label>
                <input type="text" ng-model="resumeController.user.state">
            </md-input-container>
            <md-input-container class="md-input-container">
                <label>Zip</label>
                <input type="text" ng-model="resumeController.user.zip">
            </md-input-container>
            <md-input-container class="md-input-container">
                <label>Phone</label>
                <input type="text" ng-model="resumeController.user.phone">
            </md-input-container>
            <md-input-container class="md-input-container">
                <label>Email</label>
                <input type="email" ng-model="resumeController.user.email">
            </md-input-container>
        </div>
        <!-- Contact Editing END -->
        <!-- contact Info End -->
    </div>
    <!-- Programming Experience -->
</div>
</body>
</html>